.formSubmitButton{
    margin-top: 10px;
}
// Specific style to set the width of all form-controls width to 100%
// ============================
nz-form-control *{
    width: 100%;
}
:host ::ng-deep nz-picker > *{
    width: 100%;
}
// ============================