<nz-collapse>
  <nz-collapse-panel nzHeader="Energy Query" nzActive="true">
    <form nz-form [formGroup]='retrieveForm' (ngSubmit)=getEnergy(retrieveForm.value)>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzHasFeedback>
            <nz-form-label>Location</nz-form-label>
            <nz-form-control>
              <nz-select formControlName='location'>
                <nz-option *ngFor='let loc of locations' nzValue='{{ loc.name }}' nzLabel='{{ loc.name }}'></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>Generator</nz-form-label>
            <nz-form-control>
              <nz-select formControlName='generator'>
                <nz-option *ngFor='let gen of generators' nzValue='{{ gen.label }}' nzLabel='{{ gen.label }}'></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item nzHasFeedback>
            <nz-form-label>Start Date (Optional)</nz-form-label>
            <nz-form-control>
              <nz-date-picker [nzSize]="default" class="ant-calendar-picker" formControlName="startDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item nzHasFeedback>
            <nz-form-label>Start Time (Optional)</nz-form-label>
            <nz-form-control>
              <nz-time-picker formControlName="startTime" [nzDisabled]="!hasEntry(retrieveForm.value, 'startDate')"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item nzHasFeedback>
            <nz-form-label>End Date (Optional)</nz-form-label>
            <nz-form-control>
              <nz-date-picker [nzSize]="default" class="ant-calendar-picker" formControlName="endDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item nzHasFeedback>
            <nz-form-label>End Time (Optional)</nz-form-label>
            <nz-form-control>
              <nz-time-picker [nzDisabled]="!hasEntry(retrieveForm.value, 'endDate')" formControlName="endTime"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="18"></div>
        <div nz-col [nzSpan]="6">
            <button nz-button class="formSubmitButton" [disabled]="!validateForm(retrieveForm.value)" [nzSize]="default" nzType="primary">Execute Energy Query</button>
        </div>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>
<div class="row">
  <div class="col-md-12">
    <canvas 
      id='myCanvas'
      style="display: none"
      height="550"
      width="550">
    </canvas>
  </div>
</div>
<div style="text-align: center" *ngIf="energy && energy.length > 0">
  <a href="{{ url }}" download>
    <button nz-button [nzSize]="default" nzType="primary">Download CSV</button>
  </a>
</div>
<br><br>