.error {
    color: red;
}
nz-collapse{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.formSubmitButton{
    margin-top: 10px;
}

// Specific style to set the width of all form-controls widthto 100%
// ============================
nz-form-control *{
    width: 100%;
}
:host ::ng-deep nz-picker > *{
    width: 100%;
}
// ============================