<nz-collapse>
  <nz-collapse-panel nzHeader="Create Weather Data" [nzActive]="true">
    <form nz-form [nzLayout]="'horizontal'" [formGroup]='createForm' (ngSubmit)="createWeatherData()">
      <nz-form-item>
        <nz-form-label>Pressure (hPa)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="pressure" autocomplete="off" placeholder="">
          <nz-form-explain *ngIf="createForm.get('pressure').dirty && createForm.get('pressure').errors">
            Please enter a number greater than 0
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Speed (ms<sup>-1</sup>)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="speed" autocomplete="off" placeholder="">
          <nz-form-explain *ngIf="createForm.get('speed').dirty && createForm.get('speed').errors">
            Please enter a number greater than 0
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Humidity (%)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="humidity" autocomplete="off" placeholder="">
          <nz-form-explain class="error" *ngIf="createForm.get('humidity').dirty && createForm.get('humidity').errors">
            Please enter a number between 0 and 100 (inclusive)
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Temperature (K)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="temperature" autocomplete="off" placeholder="">
          <nz-form-explain class="error" *ngIf="createForm.get('temperature').dirty && createForm.get('temperature').errors">
            Please enter a number greater than 0
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Longitude (˚)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="lon" autocomplete="off" placeholder="">
          <nz-form-explain class="error" *ngIf="createForm.get('lon').dirty && createForm.get('lon').errors">
            Please enter a number greater than -180 and less than 180
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Latitude (˚)</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="number" formControlName="lat" autocomplete="off" placeholder="">
          <nz-form-explain class="error" *ngIf="createForm.get('lat').dirty && createForm.get('lat').errors">
            Please enter a number greater than -90 and less than 90
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Date</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-date-picker [nzSize]="default" class="ant-calendar-picker" formControlName="date"></nz-date-picker>
          <nz-form-explain class="error" *ngIf="createForm.get('date').dirty && createForm.get('date').errors">
            The date provided is invalid. 
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Time</nz-form-label>
        <nz-form-control nzHasFeedback>
            <nz-time-picker formControlName="time"></nz-time-picker>
            <nz-form-explain class="error" *ngIf="createForm.get('time').dirty && createForm.get('time').errors">
              The time provided is invalid. 
            </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="formSubmitButton" [nzSize]="default" nzType="primary">Create Weather Data</button>
    </form>
  </nz-collapse-panel>
</nz-collapse>
