:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  background-image: url("../assets/images/cool-glidings-logo.png");
  margin: 16px;
}

nz-layout {
  height: 100%;
}


nz-sider a:hover{
  color: aliceblue;
}

nz-content{
  margin:24px 16px 0;
}