<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'xl'" [nzWidth]="250">
    <a [routerLink]="[ '/' ]" routerLinkActive="active">
      <div class="logo">
      </div>
    </a>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
          <a [routerLink]="[ '/locations' ]" routerLinkActive="active">
            <span><i nz-icon type="environment"></i><span class="nav-text">Locations</span></span>
          </a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="[ '/generators' ]" routerLinkActive="active">
          <span><i nz-icon type="thunderbolt"></i><span class="nav-text">Generators</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="[ '/addWeatherData' ]" routerLinkActive="active">
          <span><i nz-icon type="cloud"></i><span class="nav-text">Add Weather Data</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="[ '/energyQuery' ]" routerLin1kActive="active">
          <span><i nz-icon type="line-chart"></i><span class="nav-text">Energy Query</span></span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
