<h1>Welcome to the Cool Glidings Web App!</h1>

<div>
  <h2>About</h2>
  This is a web app project by University of Glasgow students for a level 3 team project.
  <br>
  With this web-app you can add locations of which weather data will be collected for. 
  <br>
  You can also add, modify and delete wind-turbine generators. 
  <br>
  Using both these things you can then use this to query energy outputs for generators at locations.
  <br>
  Getting these in either a graph format or exporting it to a csv for external use.
  <br>
  <br>
  Hopefully you enjoy using it! 
</div>
