<!-- START GENERATORCREATE FORM -->
<h2>Manage your Generators</h2>
<div nzGutter="16" nz-row class="formsContainer">
  <div nz-col nzSpan="12">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Create a new Generator">
        <form class="formBox" nz-form [formGroup]="createGeneratorForm" (ngSubmit)="createGenerator()" [nzLayout]="'vertical'">
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="label" placeholder='Generator Label'>
              <nz-form-explain *ngIf="createGeneratorForm.get('label').dirty && createGeneratorForm.get('label').errors">Generator name is empty or it already exists.</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input type="number" formControlName="powerCoefficient" placeholder='Power Coefficient'>
              <nz-form-explain *ngIf="createGeneratorForm.get('powerCoefficient').dirty && createGeneratorForm.get('powerCoefficient').errors">Power coefficient has to be between 0 and 1</nz-form-explain>
            </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input nz-input type="number" formControlName="radius" placeholder='Radius (m)'>
                <nz-form-explain *ngIf="createGeneratorForm.get('radius').dirty && createGeneratorForm.get('radius').errors">Radius has to be between greater than 0</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input nz-input type="number" formControlName="height" placeholder='Height (m)'>
                <nz-form-explain *ngIf="createGeneratorForm.get('height').dirty && createGeneratorForm.get('height').errors">Height has to be between greater than 0</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
            <nz-form-control>
                <button nz-button class="formSubmitButton" nzType="primary">New Generator</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <!-- END GENERATORCREATE FORM -->
  <!-- START GENERATOREDIT FORM -->
  <div nz-col nzSpan="12">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Edit a Generator">
        <form nz-form class="formBox" [formGroup]="editGeneratorForm" (ngSubmit)="editGenerator()" [nzLayout]="'vertical'">
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-select formControlName="label" nzAllowClear nzPlaceHolder="Generators" (ngModelChange)="selectChange($event)">
                  <nz-option *ngFor="let item of data" nzValue={{item.label}} nzLabel={{item.label}} ></nz-option>
                </nz-select>
              <nz-form-explain *ngIf="editGeneratorForm.get('label').dirty && editGeneratorForm.get('label').errors">Generator name is empty or it does not exists.</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input type="number" formControlName="powerCoefficient" placeholder='Power Coefficient'>
              <nz-form-explain *ngIf="editGeneratorForm.get('powerCoefficient').dirty && editGeneratorForm.get('powerCoefficient').errors">Power Coefficient has to be between 0 and 1</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input type="number" formControlName="radius" placeholder='Radius (m)'>
              <nz-form-explain *ngIf="editGeneratorForm.get('radius').dirty && editGeneratorForm.get('radius').errors">Radius has to be greater than 0</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input nz-input type="number" formControlName="height" placeholder='Height (m)'>
                <nz-form-explain *ngIf="editGeneratorForm.get('height').dirty && editGeneratorForm.get('height').errors">Height has to be greater than 0</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
            <nz-form-control>
                <button nz-button class="formSubmitButton" nzType="primary">Edit Generator</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
    </nz-collapse>    
  </div>
  <!-- END GENERATOREDIT FORM -->
</div>
<!-- GENERATORS TABLE -->
<h2>Generators Table</h2>
<nz-table #generatorTable [nzPageSize]="5" [nzData]="data" [nzBordered] ="true" [nzScroll]="{ y: '400px' }" [nzFrontPagination]="true">
  <thead (nzSortChange)="columnSort($event)">
    <tr>
      <th nzWidth="20%" [nzShowSort]="true" nzSortKey="label">Label</th>
      <th nzWidth="20%" [nzShowSort]="true" nzSortKey="powerCoefficient">Power Coefficient</th>
      <th nzWidth="20%" [nzShowSort]="true" nzSortKey="radius">Radius</th>
      <th nzWidth="20%" [nzShowSort]="true" nzSortKey="height">Height</th>
      <th nzWidth="20%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of generatorTable.data">
      <td>
        <ng-container>
            {{item.label}}
        </ng-container>
      </td>
      <td>
        <ng-container>
            {{item.powerCoefficient}}
        </ng-container>
      </td>
      <td>
          <ng-container>
            {{item.radius}}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{item.height}}
      </ng-container>
    </td>
      <td>
          <ng-container>
              <a (click)="delete(item.label)">Delete</a>
          </ng-container>
        </td>
    </tr>
  </tbody>
</nz-table>
<!-- END GENERATORS TABLE -->