/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@font-size-base : 16px;
@font-size-sm : 14px;

@menu-dark-bg: #212121;
@layout-sider-background :#212121;
@layout-trigger-background : #2d2d2d;

nz-form-item{
    margin: 0 !important;
}

.formSubmitButton{
    width: 100%;
}
// Styling for form in location and generator components 
.formsContainer{
    margin-bottom: 10px;
}