<!-- START LOCATIONCREATE FORM -->
<h2>Manage your Locations</h2>
<div nzGutter="16" nz-row class="formsContainer">
  <div nz-col nzSpan="12">
    <nz-collapse>
        <nz-collapse-panel nzHeader="Create a new Location">
        <form nz-form [formGroup]="createLocationForm" (ngSubmit)="createLocation()" [nzLayout]="'vertical'">
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="name" placeholder='Location'>
              <nz-form-explain *ngIf="createLocationForm.get('name').dirty && createLocationForm.get('name').errors">Location name is empty or it already exists.</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input nz-input type="number" formControlName="lat" placeholder='Latitude'>
              <nz-form-explain *ngIf="createLocationForm.get('lat').dirty && createLocationForm.get('lat').errors">Latitude has to be between -90 and 90</nz-form-explain>
            </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input nz-input type="number" formControlName="lon" placeholder='Longitude'>
                <nz-form-explain *ngIf="createLocationForm.get('lon').dirty && createLocationForm.get('lon').errors">Longitude has to be between -180 and 180</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
            <nz-form-control>
                <button nz-button class="formSubmitButton" nzType="primary">New Location</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
  </nz-collapse>
  </div>
<!-- END LOCATIONCREATE FORM -->
<!-- START LOCATIONEDIT FORM -->
  <div nz-col nzSpan="12">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Edit a Location">
        <form nz-form class="formBox" [formGroup]="editLocationForm" (ngSubmit)="editLocation()" [nzLayout]="'vertical'">
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-select formControlName="name" nzAllowClear nzPlaceHolder="Locations" (ngModelChange)="selectChange($event)">
                  <nz-option *ngFor="let item of data" nzValue={{item.name}} nzLabel={{item.name}} ></nz-option>
                </nz-select>
              <nz-form-explain *ngIf="editLocationForm.get('name').dirty && editLocationForm.get('name').errors">Location name is empty or it does not exists.</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input nz-input type="number" formControlName="lat" placeholder='Latitude'>
                <nz-form-explain *ngIf="editLocationForm.get('lat').dirty && editLocationForm.get('lat').errors">Latitude has to be between -90 and 90</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback>
                  <input nz-input type="number" formControlName="lon" placeholder='Longitude'>
                  <nz-form-explain *ngIf="editLocationForm.get('lon').dirty && editLocationForm.get('lon').errors">Longitude has to be between -180 and 180</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <button nz-button class="formSubmitButton" nzType="primary">Edit Location</button>
              </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
<!-- END LOCATIONEDIT FORM -->
<!-- LOCATIONS TABLE -->
<h2>Locations Table</h2>
<nz-table #locationTable [nzPageSize]="5" [nzData]="data" [nzBordered] ="true" [nzScroll]="{ y: '400px' }" [nzFrontPagination]="true">
  <thead (nzSortChange)="columnSort($event)">
    <tr>
      <th nzWidth="25%" [nzShowSort]="true" nzSortKey="name">Locations</th>
      <th nzWidth="25%">Latitude</th>
      <th nzWidth="25%">Longitude</th>
      <th nzWidth="25%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of locationTable.data">
      <td>
        <ng-container>
            {{item.name}}
        </ng-container>
      </td>
      <td>
        <ng-container>
            {{item.lat}}
        </ng-container>
      </td>
      <td>
          <ng-container>
            {{item.lon}}
        </ng-container>
      </td>
      <td>
          <ng-container>
              <a (click)="delete(item.name)">Delete</a>
          </ng-container>
        </td>
    </tr>
  </tbody>
</nz-table>
<!-- END LOCATION TABLE -->